{% extends "base.html" %} {% block principal %}


<div class="card" style="width: 18rem;">
    <img src="static/img/RaidColumbia/WA0003.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Raid Columbia 2016</h5>
        <p class="card-text">Tres días de competencia, Campo Quijano 26 km, Tumbaya-Purmamarca 24 km y Salinas Grandes 10K</p>
        <a href="#" class="btn btn-primary">Mas imagenes</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img src="static/img/cabratrail/foto2.jpg " class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Cabra Trail</h5>
        <p class="card-text">Competencia en el Dique Cabra Corral 21K</p>
        <a href="#" class="btn btn-primary">Mas imagenes</a>
    </div>
</div>


<div class="card" style="width: 18rem;">
    <img src="static/img/Sanlotrail/sanlotrail.jpg " class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Sanlo Trail</h5>
        <p class="card-text">Competencia en las yungas de San Lorenzo 21K</p>
        <a href="#" class="btn btn-primary">Mas imagenes</a>
    </div>
</div>

</body>



{% endblock %}