{% extends "base.html" %} {% block principal %}


<div class="card" style="width: 18rem;">
    <img src="static/img/RaidColumbia/wa0003.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Raid Columbia 2016</h5>
        <p class="card-text">Tres días de competencia, Campo Quijano 26 km, Tumbaya-Purmamarca 24 km y Salinas Grandes 10K</p>
        <a href="#" class="btn btn-primary">Mas imagenes</a>
    </div>
</div>


<div class="card" style="width: 18rem;">
    <img src="static/img/cabratrail/foto2.jpg " class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Cabra Trail</h5>
        <p class="card-text">Competencia en el Dique Cabra Corral 21K</p>
        <a href="#" class="btn btn-primary">Mas imagenes</a>
    </div>
</div>


<div class="card" style="width: 18rem;">
    <img src="static/img/Sanlotrail/sanlotrail.jpg " class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Sanlo Trail</h5>
        <p class="card-text">Competencia en las yungas de San Lorenzo 21K</p>
        <a href="#" class="btn btn-primary">Mas imagenes</a>
    </div>
</div>





<!-- <div class="card" style="width: 18rem;">
    <img src="https://images.pexels.com/photos/17351950/pexels-photo-17351950/free-photo-of-vehiculo-cesped-aeropuerto-avion.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Inicio</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div> -->

<!-- <div class="card" style="width: 18rem;">
    <img src="https://images.pexels.com/photos/20354065/pexels-photo-20354065/free-photo-of-ligero-mar-ciudad-amanecer.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Inicio</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div> -->

{% endblock %}