{% extends "base.html" %}

{% block principal  %}
 <div class="card" style="width: 18rem;">
    <img src="https://images.pexels.com/photos/19824001/pexels-photo-19824001/free-photo-of-ciudad-carretera-paisaje-calle.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Inicio</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://images.pexels.com/photos/17351950/pexels-photo-17351950/free-photo-of-vehiculo-cesped-aeropuerto-avion.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Inicio</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
   <img src="https://images.pexels.com/photos/20354065/pexels-photo-20354065/free-photo-of-ligero-mar-ciudad-amanecer.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
   <div class="card-body">
    <h5 class="card-title">Inicio</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

{% endblock  %}