{% extends "base.html" %} {% block principal %}
    <!-- Menú -->

    <!-- CSS only turismo-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <!-- fin de turismo-->


<section id="imagenes">
<div class="container">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/img/RaidColumbia/WA0002.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/img/RaidColumbia/WA0003.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/img/RaidColumbia/WA00101.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>   
</section>

<section>
    <div class="card pt-3" style="width: 18rem; margin:auto; ">
        <img src="/static/img/RaidColumbia/WA0002.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="Festival Mendocino">Festival Runner</h5>
          <p class="card-text">La Fiesta del Runner es en Salta.....</p>
          <a href="https://salta.gov.ar/"  class="btn btn-primary" target="_blank">ir al sitio</a>
        </div>
      </div>
</section>
<i class="fa-solid fa-flask"></i>

<section id="paginas">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
</section>
      
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>




{% endblock %}