<footer class="footer">

    <p>Copyright &copy; 2024 Néstor Ferreyra</p>
    <p>Sigueme en las redes</p>


    <div class="redes-sociales">
        <a href="https://twitter.com/minombre" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a>
        <a href="https://www.instagram.com/minombre" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a>
        <a href="https://www.tiktok.com/@minombre" target="_blank" title="TikTok"><i class="fa fa-tiktok"></i></a>
        <a href="https://api.whatsapp.com/send?phone=5511999999999" target="_blank" title="WhatsApp"><i class="fa fa-whatsapp"></i></a>
    </div>


</footer>